{% extends 'food/base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'food/css/about_us.css' %}">
{% endblock %}


{% block content %}

<section class="about">
    <div class="main row" >
        <div class="col">
            <img src="{% static 'food/images/about_photo.jpg' %}">
        </div>
    <div class="card col" style="margin-right: 500px">
        <div class="card-header"><h2>Designer and developer: Каверя Владимир</h2></div>
			<div class="card-body ">
				Мы, разработчики Foody (я), стремимся создать непревзойденное пользовательское впечатление и обеспечить максимально удобный и интуитивно понятный интерфейс для наших пользователей. Мы постоянно работаем над улучшением функциональности, чтобы каждый посетитель мог наслаждаться безупречным опытом использования сайта.

Наша команда специализируется на использовании передовых технологий разработки, включая языки программирования Python и JavaScript, а также мощный фреймворк Django. Мы также внимательно слушаем отзывы и предложения наших пользователей, чтобы учесть их потребности и создать самое удовлетворительное веб-приложение для рецептов.
			</div>
		</div>
    </div>
</section>

{% endblock %}