{% extends 'food/base.html' %}
{% load static %}

{% block extracss %}
{% endblock %}


{% block content %}



	<div class="container-fluid my-carousel">
		<div id="carouselIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
				<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
			</div>

			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'food/images/1.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'food/images/2.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'food/images/3.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'food/images/4.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'food/images/5.jpg' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'food/images/6.jpg' %}" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<div>
		<h1 style="margin-top:100px; margin-left:320px;">
			О нашем сайте:
		</h1>

	</div>
	<div class="row">
		<div class="card col">
			<div class="card-body" >
				Добро пожаловать на Foody — твой источник вдохновения и вкусовых удовольствий! Наш веб-сайт предлагает обширную коллекцию рецептов, которые удовлетворят самые изысканные вкусы и помогут тебе создать великолепные блюда в уюте своей кухни.

На Foody мы ставим целью делиться разнообразными и проверенными рецептами, подходящими для любого уровня кулинарного мастерства. Независимо от того, являешься ли ты новичком или опытным гурманом, у нас найдется что-то особенное для каждого.
			</div>
		</div>
		<div class="card col">
			<div class="card-body">
				<img src="{% static 'food/images/7.jpg' %}" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card col">
			<div class="card-body">
				<img src="{% static 'food/images/10.jpg' %}">
			</div>
		</div>
		<div class="card col">
			<div class="card-body" >
				 У нас ты найдешь рецепты для завтраков, обедов, ужинов, праздников и специальных случаев. Каждый рецепт сопровождается подробным описанием, пошаговыми инструкциями и красочными фотографиями, чтобы ты мог легко и успешно воплотить идеи на своей кухне.

Не знаешь, что приготовить с имеющихся у тебя продуктов? Наш функционал поиска позволит тебе ввести ингредиенты, которые ты хочешь использовать, и мы подберем для тебя самые подходящие рецепты. Ты также сможешь отфильтровать рецепты по типу кухни, диетическим ограничениям или предпочтениям.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card col">
			<div class="card-body" >
				Foody также является сообществом, где любители кулинарии могут делиться своими собственными рецептами, идеями и фотографиями блюд. Ты можешь принять участие в обсуждениях, получить советы от других участников и найти вдохновение для своих кулинарных экспериментов.

Независимо от того, интересуешься ли ты кулинарией из любви к еде, стремишься к здоровому образу жизни или просто ищешь новые идеи для приготовления блюд, Foody является идеальным местом для тебя. Присоединяйся к нашему сообществу и открой мир вкусовых приключений на своей кухне с Foody!
			</div>
		</div>
		<div class="card col">
			<div class="card-body">
				<img src="{% static 'food/images/9.jpg' %}">
			</div>
		</div>
	</div>

<section style="text-align: center; margin-top: 100px">

<iframe width="700" height="455" src="https://www.youtube.com/embed/lcU3pruVyUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</section>
{% endblock %}