{% extends 'food/base.html' %}
{% load static %}

{% block extracss %}
{% endblock %}


{% block content %}
<div class="card" style="	margin: auto;
	margin-top: 50px;">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {% for f in recipe_form %}
            <div class="form-outline mb-4">
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            </div>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            {% for f in block_form1 %}
            <div class="form-outline mb-4">
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            </div>

            {% endfor %}
            {% for f in block_form2 %}
            <div class="form-outline mb-4">
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            </div>

            {% endfor %}
            {% for f in block_form3 %}
            <div class="form-outline mb-4">
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            </div>

            {% endfor %}

            <div class="d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Сохранить
                </button>
            </div>


        </form>

    </div>
</div>




{% endblock %}